<style>
    .footer .footer-title {
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>

<footer class="footer mt-auto py-3 bg-warning">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5 class="footer-title">Información de Contacto</h5>
				<p><strong>Teléfono:</strong> +34 123 456 789</p>
				<p><strong>Dirección:</strong> Calle Ejemplo, 123, Ciudad, País</p>
				<p><strong>Email:</strong> info@kansare.com</p>
			</div>
			<div class="col-md-5">
				<h5 class="footer-title">Sobre Nosotros</h5>
				<p>Somos KÄNSARE, una tienda comprometida con ofrecer los productos más frescos y de la mejor calidad directamente del terreno a tu mesa. Nos enorgullecemos de nuestra atención al detalle y servicio al cliente excepcional.</p>
			</div>
            <div class="col-md-3 d-none d-md-block" style="justify-content: center;">
                <h5 class="footer-title">Horario</h5>
                <p><b>Lunes a Viernes:</b> <br>
                    - Manaña: 9:00 - 14:00<br>
                    - Tarde: 17:00 - 21:00<br>
                </p>
                <p><b>Sábado y Domingo:</b> <br>
                    - Manaña: 9:00 - 14:00<br>
                </p>
            </div>
			<div class="col-md-3 d-md-none d-sm-block" style="justify-content: center;">
				<h5 class="footer-title">Horario</h5>
                <div class="row">
                    <div class="col-6">
                        <p>
                            <b>Lunes a Viernes:</b>
                            <br>
                            - Manaña: 9:00 - 14:00<br>
                            - Tarde: 17:00 - 21:00<br>
                        </p>
                    </div>
                    <div class="col-6">
                        <p>
                            <b>Sábado y Domingo:</b>
                            <br>
                            - Manaña: 9:00 - 14:00<br>
                        </p>
                    </div>
                </div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-12 text-center">
				<p>&copy; 2024 KÄNSARE. Todos los derechos reservados.</p>
			</div>
		</div>
	</div>
</footer>
